@media (max-width: 1120px){

    .about_items{
        display: block !important; 
    }
    .about_item{ 
        max-width: 100% !important;
        min-height: 375px;
        margin-bottom: 20px;
    }
    .form_inner{
        background-image: none !important;
    }
    .clients {
        padding: 10px 0px 10px !;
    }
    .clients_inner{
    display: block !important;
}
.clients_blog {
    max-width: 100%!important;
    margin-bottom: 60px;
}
.footer_map iframe{

    width: 100%;
    height: 100%;
    margin-left: 10px;
    float: left;
}

    
}

@media (max-width: 850px){
.header_btn{
float: none !important;
text-align: center;
display: block;
}
.header_contacts{
text-align: center;
}
.header_btn:after{
    display: none;
}
.nav{
    display: none;
}
.clients_top, .about_top{
    display: block !important;
}
.about_btn a {
    float: right;
}
#menu-wrapper{
    padding-left: 295px;
}
.menu-submenu{
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}





.form_box_inner{
        display: block !important;
 }
 .form_boxleft {
    max-width: 100% !important;
 }
   .form_boxright {
        max-width: 100% !important;
        margin-left: 0px !important;

   }
   .form_box_inner button{
       float: none !important;
   }
   .advatages_inner{
    display: block !important;
}
.advatages_item{
    max-width: 100% !important;
    margin-bottom: 20px;
}

.clients_slider{
    max-width: 100% !important;
    margin-bottom: 90px;
}
.sub-nav {
    position: absolute;
    border-top: 15px solid transparent;
    left: -9999px;
    list-style:none;
    padding:0;
    z-index: 90;
    width:150px ;
    display: none !important;
}


}
@media (max-width: 450px){
   .slider .slick-btn{
        display: none;
    }


}
@media (max-width: 410px){
    .header_btn:after{
        display: none;
    }
    .header_phone{
        margin-left: 30px;
    }
}
@media (min-width: 1100px){
    #menu-container{
        display: none;
    }
}

