*{
    box-sizing: border-box ;
    
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #ffc222;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Montserrat', sans-serif; 

font-weight: 400;
line-height: 18px;
font-size: 14px;
color: #5e5e5e;

}
.header{
    font-family: 'Montserrat', sans-serif; 
}
.header_top{
    background-color: #303030;
    display: block;
}
.header_btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;position: relative;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;

}
.header_btn:after{
    font-family: 'icomoon' !important;
    content: "\e9ae";
    position: absolute;
    left: 22px;
    color: #000000;
    font-family: 'Montserrat', sans-serif; 

}
.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,
.header_email{
 text-decoration: none;
 color: azure !important;
 font-size: 14px;
 letter-spacing: 0.25px;
 line-height: 45px;
 position: relative;
}
.header_phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header_phone:before{
    font-family: 'icomoon' !important;
    content: "\e901";
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_email{
    padding-left: 24px;
}
.header_email:before{
    font-family: 'icomoon' !important;
    content: "\e945";
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_content{
    padding: 34px 0px 23px;
}
.menu ul li{
    display: block !important;    
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;

}
.header_content_inner{
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    color: #323232;
    padding: 0px 16px;
    margin-right: 12px;
    border: 1px solid transparent;
    transition: all .3s;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}
.menu_list{
    display: flex;
} 
.menu_list > li{
    margin: 0px 10px 0px 0px;
}
.menu_link{
    color: #fff;
}
.submenu_list{
    position: absolute;
    left: 0;
    top: 20px;
    margin-top: 140px;
    margin-left: 850px;
    display: none;
    z-index: 50;
    padding: 10px;
}
.submenu_list > li{
    background-color: aliceblue;
}
.submenu_link{
    color: #ffc222;
}
.menu_list > li:hover .submenu_list{
        display: block;
}

.menu a:hover{
    border-color:yellow;
}
#modal{
    display: none;
}
.slider{
    background-image:url(../img/slider_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 500px;
}
.slider_item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif; 
}
.slider_text{
    line-height: 24px;
    font-size: 18px;
    color: rgb(211, 195, 195);
    margin-bottom: 50px;
}
.default_btn{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 2px solid #ffc222;
    border-right-width:  20px;
    position: relative;
}
.default_btn:after{
    font-family: 'icomoon' !important;
    content: "\e903";
    position: absolute;
    right: -16px;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
   
}
.slider_inner{
    position: relative;
}

.slick-btn{
    position: absolute;
    top: 70%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slider_inner .slick-disabled{
    cursor: default;
    background-color: transparent !important;
}
.slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slick-next{
    right: 0;
    z-index: 3;
}
.slick-prev{
    left: 0;
    z-index: 3;
}
.slick-next:before{
    content: "\e903";
    font-family: 'icomoon' !important;
    color: #fff;
}
.slick-prev:before{
    content: "\e904";
    font-family: 'icomoon' !important;
    color: #fff;
}

.about{
padding: 50px 0px 30px;
background-image: url(../img/bg_pattern.jpg);
}
.clients_top,
.about_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.clients_title-box,
.about_title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.clients_title-box::before,
.about_title-box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top:11px;
}
.clients_title,
.about_title{
font-size: 24px;
font-weight: 500;
line-height: 24px;
color: rgb(48, 46, 46);
font-family: 'Montserrat', sans-serif;
margin-bottom: 10px;

}
.clients_text,
.about_text{
    letter-spacing: 0.1px;

}
.about_btn a{
    color: black;
    line-height: 24px;
    letter-spacing: 2.5px;
    padding: 5px 38px 5px 38px;
    border: 3px solid #5e5e5e;

}
.about_btn{
    padding-top: 30px;
}
.about_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about_item img{
    width: 100px;
}
.about_items{
    display: flex;
    justify-content: space-between;
}
.about_item-title{
    color: rgb(48, 46, 46);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 24px 0;
}
.about_item-text{
letter-spacing: 0.1px;
padding: 0px 35px 30px;
}
.about_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;

}
.about_item-btn .default_btn{
    color: #5e5e5e;
}
.about_item-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1px;
    color: #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
    margin-right: 35px;
}
.company{
    background-image: url(../img/fon_1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 45px 0px 45px;
    font-family: 'Montserrat', sans-serif;
}
.company_inner{
    max-width: 545px;
}
.company_title{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom:20px;
}
.company_text{
margin-bottom: 30px;
line-height: 24px;
letter-spacing: 0.1px;
color: #fff;

}
.company_ab{
    background-image: url(../img/bg_pattern.jpg);
    min-height: 300px;
    padding: 45px 0px 45px;
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
}
.company_inner_ab{
    max-width: 545px;
}
.company_title_ab{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom:20px;
    color: #ffc222;
    border:#000000;
}
.company_text_ab{
margin-bottom: 30px;
line-height: 24px;
letter-spacing: 0.1px;
color: #1b1b1b;

}
.form{
    padding-top:30px;
    background-image: url(../img/bg_pattern.jpg);
    }
    .form_title-box{
        max-width: 520px;
        padding-left: 140px;
        position: relative;
    }
    .form_title-box::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #ffc222;
        left: 0;
        top:11px;
    }
    .form_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(48, 46, 46);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    
    }
    .form_text{
        letter-spacing: 0.1px;
    
    }
.form_inner{
    padding-bottom: 40px;
    background-image: url(../img/form-img.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 650px;
}
.form_box{
    max-width: 850px;
    padding-top: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.form_box_inner{
    display: flex;
}
.form_boxleft{
    max-width: 260px;
    width: 100%;
}
.form_boxright{
    max-width: 300px;
    width: 100%;
    margin-left: 60px;
}
.form_box_inner label,
.form_box_inner input,
.form_box_inner textarea{
    display: block;
    width: 100%;

}
.form_box_inner textarea{
    height: 178px;
    border: 2px solid #ffc222;
    resize: none;
    margin-bottom: 40px;
}
.form_box_inner label{
    line-height: 36px;
    color: #323232;
}
.form_box_inner button{
    background-color: transparent;
    color: black;    
    float: right;

}

.form_box_inner input{
    margin-bottom: 8px;
    outline: none;
    height: 30px;
    border: 1px solid #323232;
}
.form_box_inner select{
    outline: none;
    height: 30px;
    border: 1px solid #323232;
}
.form_box_inner .jqselect{
    display: block;
    width: 100%;
}
.form_box_inner .jq-selectbox__select{
    height: 30px;
    border: 1px solid #323232;
    background-color: transparent;
    border-radius: 0;
}
.advatages{
    padding: 55px 0px 40px;
    background-image: url(../img/advantages.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 285px;
    background-size: cover;
}
.advatages_inner{
    color:#fff !important;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advatages_item{
    max-width: 360px;
    padding: 0px 20px;
}
.advatages_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500px;
    padding: 60px 0px 15px;
    position: relative;
}
.advatages_text{
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 500px;
    color: rgb(255, 241, 241);
    letter-spacing: 0.1px;
}
.advatages_title::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 3px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.advatages_title::after{
    font-family: 'icomoon' !important;
    content: "\e900";
    font-size: 14px;
    position: absolute;
    top:11px;
    left: 50%;
    transform: translateX(-50%);
}
.clients{
    padding: 55px 0px 110px;
    background-image: url(../img/bg_pattern.jpg);
    font-family: 'Montserrat', sans-serif;
}
.clients_inner{
    display: flex;
    justify-content: space-between;
}
.clients_slider{
    max-width: 555px;
    width: 100%;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    background-color: rgb(255, 255, 255);
    padding: 60px 35px 45px 70px;
    position: relative;
    border-bottom-left-radius: 15px;
}
.clients_slider::before{
    font-family: 'icomoon' !important;
    content: "\e902";
    color: #fff;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ffc222;
    position: absolute;
    top: 0;
    left: 70px;
}
.clients_blog{
    max-width: 260px;
    width: 100%;
}
.client_images{
    position: relative;
}
.clients_date img{
    position: absolute;
    width: 55px;
    height: 55px;
    top: -10px;
    left: 10px;
    border-bottom-left-radius: 10px;
}
.client_title{
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    letter-spacing: 0.5px;
    padding: 12px 0px;
}
.client-text{
    color: #242424;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.clients_slider_title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1b1b;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.clients_slider_text{
    margin-bottom: 30px;
}
.clients_slider_author{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1b1b;
    float: right;
}
.clients_slider_inner .slick-btn{
    top: auto;
    bottom:-110px;
}
.clients_slider_inner .slick-next{
    right: -35px;
    
}
.clients_slider_inner .slick-prev{
    right: 20px;
    left: auto;
}
.footer_content{
    background-color: #242424;
    padding: 22px 0px 30px;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
}
.footer_map{
    padding-top: 10px;
    max-width: 630px;
}

.footer_title{
    font-size: 16px;
    line-height: 0.5px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
}
.footer_text{
    color: #d3d2d2;
    margin-bottom: 20px;
}
.footer_info{
    max-width: 360px;
    width: 100%;
}
.footer_list{
    padding-top: 10px;

}
.footer_list li{
    padding-top: 10px;

}
.footer_list li a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    padding-left: 33px;
    position: relative;
    
    
}
.footer_list li a::before{
    position: absolute;
    left: 0;
    color: #ffc222;
    font-family: 'icomoon' !important;
    text-align: center;
}
.footer_phone::before{
    content: "\e901";
    padding-left: 2px;
}
.footer_adress::before{
    content: "\e948";
}
.footer_email::before{
    content: "\e945";
}
.footer_copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
#modal {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#modal input{
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid;
    padding: 0px 10px;
    display: block;
    width: 100%;
    

    

}
#modal input[type="submit"]{
    background-color: #ffc222;
    border: none;


}
.header_btn-menu{
    display: none;

}

.page-title {
    
    width: 100%;
    height: 250px;
    position: relative;
    text-align: center;
    background-image:url(../img/main_page_title.jpg);
}
.img_ser{
width: 100%;
position: absolute;
height: 250px;
background-size: cover;
background-position: center;
min-height: 250px;
background-repeat: no-repeat;

    }


@media (max-width: 991px) {
    .page-title {
        height: 300px;
    }
}

.page-title .container {
    height: 100%;
    display: table;
}

@media screen and (min-width: 992px) {
    .page-title .container {
        padding-top: 30px;
    }
}

.page-title .container > .row {
    vertical-align: middle;
    display: table-cell;
    
}

.page-title h2 {
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    margin: -0.2em 0 0.30em;
}

@media (max-width: 991px) {
    .page-title h2 {
        font-size: 45px;
    }
}



@media (max-width: 767px) {
    .page-title h2 {
        font-size: 40px;
    }
}

.page-title p {
    max-width: 650px;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 991px) {
    .page-title p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .page-title p {
        font-size: 15px;
    }
}
.about{
    font-size: 15px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin: -0.2em 0 0.30em;
    text-align: center;
}
.breadcrumb {
    background-color: transparent;
    font-size: 35px;
}

.breadcrumb>li, .breadcrumb>li a {
    display: inline-block;
    color: rgb(255, 255, 255);
}

.about_s {
    font-size: 55px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}
#breadcrumb_inner{
    padding-top: 50px;

    font-family: 'Montserrat', sans-serif;
}

.project-detail{
    position: relative;
    padding: 100px 0 85px;
    background-image: url(../img/bg_pattern.jpg);
}
.project-detail .upper-box {
    position: relative;
    margin-bottom: 40px;
}
.lower-content{
    position: relative;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.project-detail .text-column .inner-column{
    position: relative;
    padding-right: 30px;

}
.list-style-one {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.mark {
    font-weight: 400;
    background-color: #fcf8e3;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px
}

/* nav */
.nav {
    list-style: none;
}
.nav li {
    float: left;
    position: relative;
    background: #ffffff;
}
/* круглые края */
.nav > li:first-of-type {
    border-radius: 5px 0 0 5px;
}
.nav > li:last-of-type {
    border-radius: 0 5px 5px 0;
}
/* блоки ссылок */
.nav li a {
    display: block !important;
    text-decoration: none;
    padding: 0px 15px;
}
/* выпадающее меню */

.sub-nav {
    position: absolute;
    border-top: 15px solid transparent;
    left: -9999px;
    list-style:none;
    padding:0;
    z-index: 90;
    width:150px ;
    /* display: none !important; */
}
/* make submenu reappear */
.nav li:hover .sub-nav {
    left: 0;
}
/* triangle */
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eed085;
    position: absolute;
    margin-top: 5px;
    left: -9999px;
    
}
/* reappear */
.nav li:hover .triangle {
    left: 15px;
}
/* prevent multi line links */
.sub-nav li {
    white-space: pre-wrap;
}
/* закругленные края */
.sub-nav > li:first-of-type {
    border-radius: 5px 5px 0 0;
}
.sub-nav > li:last-of-type {
    border-radius: 0 0 5px 5px;
}
/* верхний уровень при наведении */
.nav > li:hover > a {
    background: #ffc222;
    transition: background ease .5s;
}
/* ссылки подменю */
.sub-nav a {
    font-size: 90%;
    margin: 3px;
    transition: background ease .3s;
}
.sub-nav a:hover {
    background: #ffc222;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

}
.contact-info {
    padding: 80px 20px 0px;
    background: #3c3935;
    background: #3c3935;
    margin-top: 10px;
    float: left;
}
.single-cta {
    border-bottom: 1px solid;
    float: left;
    width: 100%;
}
















.wave-divider {
    width: 100%;
    height: 60px;
    display:block;    
}
.wave-parallax1 {
    animation: wave-move1 10s linear infinite;
}
.wave-parallax2 {
    animation: wave-move2 8s linear infinite;
}
.wave-parallax3 {
    animation: wave-move3 6s linear infinite;
}
.wave-parallax4 {
    animation: wave-move4 4s linear infinite;
}
@keyframes wave-move1 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}
@keyframes wave-move2 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
@keyframes wave-move3 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}
@keyframes wave-move4 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
.dark-block {
    background: #337AB7;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #FFF;
}
.dark-bg {
    background: #337AB7;
}
.light-block {
    background: #FFF;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #337AB7;
}
.contact-pg-section .section-title-s3{
    text-align: center;
}
.contact-pg-section .section-title-s3 p {
    font-size: 1.125rem;
    margin: 0.8em 0 0;
  }
  
  .contact-pg-section .submit-btn-wrapper {
    text-align: center;
  }
  
  .contact-pg-section .submit-btn-wrapper button {
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .contact-pg-section form {
    overflow: hidden;
    margin: 0 -15px;
  }
  
  @media (max-width: 767px) {
    .contact-pg-section form {
      margin: 0 0 0 -15px;
    }
  }
  
  .contact-pg-section form .one-third-col {
    width: 33.33%;
    float: left;
  }
  
  @media (max-width: 600px) {
    .contact-pg-section form .one-third-col {
      width: 100%;
      float: left;
    }
  }
  
  .contact-pg-section form div {
    padding: 0 15px 30px;
  }
  
  @media (max-width: 767px) {
    .contact-pg-section form div {
      padding: 0 0 15px 15px;
    }
  }
  
  .contact-pg-section form .submit-btn-wrapper {
    padding-bottom: 0;
  }
  
  .contact-pg-section form input,
  .contact-pg-section form textarea {
    background: #fff;
    font-size: 16px;
    font-size: 1rem;
    height: 55px;
    padding: 6px 15px;
    border: 2px solid #ebeff3;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  @media (max-width: 767px) {
    .contact-pg-section form input,
    .contact-pg-section form textarea {
      height: 45px;
      border: 1px solid #ebeff3;
    }
  }
  
  .contact-pg-section form input:focus,
  .contact-pg-section form textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #fd5e16;
  }
  
  .contact-pg-section form textarea {
    height: 200px;
    padding: 15px;
  }
  
  .contact-pg-section .contact-info {
    margin-top: 75px;
    -webkit-box-shadow: 0px 9px 57px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 9px 57px 0px rgba(0, 0, 0, 0.13);
    text-align: center;
    display: flex;
      align-items: center;
      justify-content: center;
  
  }
  
  @media (max-width: 991px) {
    .contact-pg-section .contact-info {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-pg-section .contact-info {
      margin-top: 50px;
    }
  }
  
  .contact-pg-section .contact-info > div {
    width: 33.33%;
    float: left;
    padding: 60px 35px;
    position: relative;
  }
  
  @media (max-width: 991px) {
    .contact-pg-section .contact-info > div {
      padding: 60px 35px 40px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-pg-section .contact-info > div {
      width: 100%;
      padding: 40px 25px 20px;
      border-left: 0;
      float: none;
    }
  }
  
  .contact-pg-section .contact-info .icon i {
    font-size: 50px;
    font-size: 3.125rem;
    color: #fd5e16;
  }
  
  @media (max-width: 991px) {
    .contact-pg-section .contact-info .icon i {
      font-size: 40px;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 767px) {
    .contact-pg-section .contact-info .icon i {
      font-size: 35px;
      font-size: 2.1875rem;
    }
  }
  
  .contact-pg-section .contact-info h5 {
    font-family: "Muli", sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 1em 0 0.5em;
  }
  
  .contact-pg-section .contact-map {
    height: 450px;
    margin-top: 100px;
  }
  
  @media (max-width: 991px) {
    .contact-pg-section .contact-map {
      margin-top: 80px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-pg-section .contact-map {
      height: 350px;
      margin-top: 70px;
    }
  }
  
  .contact-pg-section .contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
  }
  /*** contact form error handling ***/
.contact-validation-active .error-handling-messages {
    width: 100% !important;
    margin-top: 15px !important;
  }
  
  .contact-validation-active label.error {
    color: red;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 5px 0 0 0;
    text-align: left;
    display: block;
  }
  
  .contact-validation-active #loader {
    display: none;
    margin-top: 10px;
  }
  
  .contact-validation-active #loader i {
    font-size: 30px;
    font-size: 1.875rem;
    color: #fd5e16;
    display: inline-block;
    -webkit-animation: rotating linear 2s infinite;
    animation: rotating linear 2s infinite;
  }
  
  .contact-validation-active #success,
  .contact-validation-active #error {
    width: 100%;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    display: none;
  }
  
  @media (max-width: 767px) {
    .contact-validation-active #success,
    .contact-validation-active #error {
      font-size: 15px;
    }
  }
  
  .contact-validation-active #success {
    background-color: #009a00;
    border-left: 5px solid green;
    margin-bottom: 5px;
  }
  
  .contact-validation-active #error {
    background-color: #ff1a1a;
    border-left: 5px solid red;
  }
  
  @-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    -webkit-animation: rotating 5s alternate infinite;
    animation: rotating 5s alternate infinite;
  }
  .benefits {
    width: 100%;
    background: #151d2d;
}
 
.benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;
}
 
.benefits__header {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 0 15px 60px;
    color: #e2e2e2;
    font-size: 2rem;
    text-transform: uppercase;
}
 
.benefits__element {
    width: 30%;
}
 
.benefits__icon {
    display: block;
    width: 60px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
 
.benefits__element p {
    color: #cdcdcd;
    text-align: center;
    line-height: 1.3;
}
 
.benefits__number {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px
}
 
.benefits__title {
    font-size: 1.125rem;
}
.hide{
    pointer-events:none;
    transition:opasity 0.5s;
    opasity:0;
}  



 

